/* Estilo general para la tabla */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;

}

/* Encabezados de la tabla */
th {
    background-color: #007BFF;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 12px 15px;
}

/* Celdas de la tabla */
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Filas alternas */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Efecto hover en las filas */
tr:hover {
    background-color: #ddd;
    transition: background-color 0.3s ease-in-out;
}

/* Contenedor de la tabla */
#contenido {
    margin: 20px auto;
    text-align: center;
}

/* Estilo del enlace de petición */
/* Estilo del botón */
span {
    display: block;
    /* Para centrarlo con margin auto */
    width: fit-content;
    /* Ajusta el ancho al contenido */
    margin: 20px auto;
    /* Centra horizontalmente */
    padding: 10px 20px;
    background-color: #007BFF;
    /* Azul brillante */
    color: #ffffff;
    /* Texto blanco */
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    /* Quita el subrayado */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    cursor: pointer;
    transition: all 0.3s ease;
    /* Transición suave */
}

/* Efecto hover */
span:hover {
    background-color: #0056b3;
    /* Azul más oscuro */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada */
    transform: translateY(-2px);
    /* Eleva ligeramente el botón */

}